.top {
    background-color: #041E50;
    height: 40px;
}

.top-navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.top-navigation__item {
    position: relative;
}

.top-navigation__item:not(:last-child)::before {
    content: "";
    display: block;
    width: 2px;
    height: 15px;
    background-color: #FFF;
    margin-bottom: auto;
    margin-top: auto;

    position: absolute;
    top: 13px;
    right: -150px;
    transform: translateX(50%);
}

.top-navigation__link {
    display: block;
    color: #FFF;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.0em;
    padding: 14px 0;
}