.news {
    &__container {
        display: flex;
    }

    &__card {
        display: flex;
        justify-content: center;
        align-items:  center;
        flex-direction: column;

        width: 50%;
        height: 380px;
        color: #ffffff;
        text-transform: uppercase;

        position: relative;

        &-cover {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0,0,0,0.7);
            z-index: 1;
        }

        &-desc {
            display: flex;
            justify-content: center;
            align-items:  center;
            flex-direction: column;

            z-index: 2;
        }

        &-text {
            font-size: 13px;
            font-weight: 300;
            letter-spacing: 5px;

            &::after {
                content: "";
                display: block;
                width: 20px;
                height: 2px;
                background-color:  #999999;
                margin: 10px auto 0;
            }
        }

        &-title {
            font-size: 40px;
            font-weight: 300;
            letter-spacing: 5px;
            margin-top: 10px;
            text-align: center;

            span {
                display: block;
                font-weight: 700;
            }
        }

        &-btn {
            width: 155px; 
        }

        &--audio {
            background-image: url("../../assets/img/img-instrumento-audio.jpg")
        }

        &--instruments {
            background-image: url("../../assets/img/img-instrumento-guitarra.jpg");
        }
    }
}